{% extends 'base.html' %}
{% block content %}

    <h2>Cadastro de jogos</h2>
    <hr>

    <form action="{{url_for('cadastrar')}}" method="POST">
        <label>Título</label>
        <input type="text" name="titulo" placeholder="Insira o título do jogo" required class="form-control">
        
        <label>Ano</label>
        <input type="text" name="ano" placeholder="Insira o ano do jogo" required class="form-control">

        <label>Genero</label>
        <input type="text" name="genero" placeholder="Insira o genero do jogo" required class="form-control">

        <label>Plataforma</label>
        <input type="text" name="plataforma" placeholder="Insira a plataforma do jogo" required class="form-control">

        <input type="submit" value="Cadastrar" class="btn btn-success">
        <input type="reset" value="Limpar" class="btn btn-danger">
    </form>
    <br>

    <hr>

    <h4>Jogos cadastrados:</h4>
    <table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th>Título</th>
        <th>Ano</th>
        <th>Categoria</th>
        <th>Plataforma</th>
    </tr>
    {% for c in listaGames %}
        <tr>
            <th>Titulo: {{ c.titulo }}</th>
            <th>Ano: {{ c.ano }}</th>
            <th>Genero: {{ c.genero }}</th>
            <th>Plataforma: {{ c.plataforma }}</th>
        </tr>
    {% endfor %}
    </thead>
    <tbody>

    </tbody>
    </table>

{% endblock content %}