{% extends 'base.html' %}
{% block content %}
<main>
    <h1>Consoles</h1>
    <hr>
    <h2>Console em destaque:</h2>

    {% for chave, valor in console.items() %}
    <details>
        <summary>{{ chave }}</summary>
        <p>{{ valor }}</p>
    </details>
    {% endfor %}

    <h2>Lista de Consoles</h2>
        <form action="{{url_for('consoles')}}">
            <label>Nome do console: </label>
            <input type="text" name="novoConsole">
            <input type="submit" value="Cadastrar">
        </form>>

        <ol>
            {% for c in listaConsoles %}
                <li>{{ c }}</li>
            {% endfor %}
        </ol>

</main>
{% endblock content %}